.side-button {

height: 5%;
width: 11.5%;
cursor: pointer;
border-radius: 1cqi;
background-color: rgb(160, 136, 96);
padding: 2%;
box-shadow: 0 0 #0000, 0 0 #0000, 0 0.2cqi 0.3cqi -0.1cqi rgb(0,0,0,0.1), 0 0.1cqi 0.2cqi -0.1cqi rgb(0,0,0,0.1);
font-size: 1.2cqi;
text-align: center;

}