<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>School Map</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/dialog.css}">
    <link rel="stylesheet" th:href="@{/css/school.css}">
</head>
<body>
<div id="game" class="bg-[#f2ede0] relative overflow-hidden flex flex-col items-center">
    <a th:href="@{/}" class="side-button top-[2%] left-[0.5%] absolute z-[2] flex items-center justify-center">
        Startseite</a>
    <a th:href="@{/progress}" class="side-button top-[2%] right-[0.5%] absolute z-[2] flex items-center justify-center">
        Fortschritt</a>
    <img src="/images/maps/schoolmap_layout_original_style.svg" class="h-[102%] absolute z-[1]">
    <a th:href="@{rooms/room_uml}" class="z-[2] w-[18%] h-[45%] top-[8%] left-[31.5%] absolute"></a>
    <a th:href="@{rooms/room_java}" class="z-[2] w-[18%] h-[45%] top-[8%] left-[50%] absolute"></a>
    <a th:href="@{rooms/room_db}" class="z-[2] w-[18%] h-[45%] top-[8%] left-[68.5%] absolute"></a>
    <a th:href="@{rooms/room_recht}" class="z-[2] w-[18%] h-[37.5%] top-[59%] left-[31.5%] absolute"></a>
    <a th:href="@{rooms/room_ki}" class="z-[2] w-[18%] h-[37.5%] top-[59%] left-[50%] absolute"></a>
    <a th:href="@{rooms/room_wirtschaft}" class="z-[2] w-[18%] h-[37.5%] top-[59%] left-[68.5%] absolute"></a>
</div>
</body>
<script src="/js/screenSize.js"></script>
</html>
